<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kangyonggan.bankengine.mapper.BankBnkBaseMapper" >
  <resultMap id="BaseResultMap" type="com.kangyonggan.bankengine.model.app.vo.BankBnkBase" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="bnk_no" property="bnkNo" jdbcType="VARCHAR" />
    <result column="bnk_nm" property="bnkNm" jdbcType="VARCHAR" />
    <result column="web_site" property="webSite" jdbcType="VARCHAR" />
    <result column="ebnk_url" property="ebnkUrl" jdbcType="VARCHAR" />
    <result column="balance_url" property="balanceUrl" jdbcType="VARCHAR" />
    <result column="tel_bnk" property="telBnk" jdbcType="VARCHAR" />
    <result column="link_man" property="linkMan" jdbcType="VARCHAR" />
    <result column="link_man_tel" property="linkManTel" jdbcType="VARCHAR" />
    <result column="link_man_fax" property="linkManFax" jdbcType="VARCHAR" />
    <result column="link_man_email" property="linkManEmail" jdbcType="VARCHAR" />
    <result column="dis_order" property="disOrder" jdbcType="DECIMAL" />
    <result column="dis_flg" property="disFlg" jdbcType="VARCHAR" />
    <result column="c_man" property="cMan" jdbcType="VARCHAR" />
    <result column="e_man" property="eMan" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="cmb_cmdk" property="cmbCmdk" jdbcType="VARCHAR" />
    <result column="cmb_cmdm" property="cmbCmdm" jdbcType="VARCHAR" />
    <result column="cmdm_date" property="cmdmDate" jdbcType="VARCHAR" />
    <result column="protocol" property="protocol" jdbcType="CHAR" />
    <result column="net_point" property="netPoint" jdbcType="VARCHAR" />
    <result column="capital_mode" property="capitalMode" jdbcType="VARCHAR" />
    <result column="is_delete" property="isDelete" jdbcType="TINYINT" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>